html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background: #0000004d;
}
.edition {
  max-width: 1440px;
  height: 59px;
  border: 1px;
  top: 0px;
  background: black;
}
.group_3 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-left: 510px;
  padding-top: 20px;
}

#upload-modal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  position: absolute;
  width: 630px;
  height: 670px;
  top: 640px;
  left: 643px;
  border-radius: 10px 10px 10px 10px;
  background: #ffffff;
}
.modal-content {
  width: 630px;
  height: 670px;
}
#upload-modal p {
  display: flex;
  width: 173px;
  height: 30px;
  padding-left: 244px;
  padding-top: 30px;
  font-family: Work Sans;
  font-size: 26px;
  font-weight: 400;
  line-height: 30.5px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
}

.arrow-left {
  position: absolute;
  border: none;
  background: none;
  width: 21px;
  height: 21px;
  top: 24px;
  right: 582px;
}
.xmark {
  position: absolute;
  border: none;
  background: none;
  width: 24px;
  height: 24px;
  top: 24px;
  left: 582px;
}
#upload-form {
  position: absolute;
  width: 420px;
  height: 169px;
  top: 100px;
  left: 107px;
  border-radius: 3px 0px 0px 0px;
  background: #e8f1f6;
}
.vector-photo {
  position: absolute;
  width: 68.14px;
  height: 59.62px;
  top: 9.5px;
  left: 176px;
}
.Ajouter_photo {
  position: absolute;
  width: 173px;
  height: 36px;
  top: 80px;
  left: 124px;
  font-family: Syne;
  font-weight: 700;
  line-height: 19.2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: #cbd6dc;
  color: #306685;
  padding: 7px 15px;
  border: 1px solid #cbd6dc;
  cursor: pointer;
  font-size: 16px;
  border-radius: 60px;
  margin-right: 10px;
}
.texto {
  position: absolute;
  width: 131px;
  height: 15px;
  top: 125px;
  left: 145px;
}
.form-group1 input {
  position: absolute;
  width: 420px;
  height: 51px;
  top: 210px;
  left: -3px;
  background: #ffffff;
  box-shadow: 0px 4px 14px 0px #00000017;
}
.form-group1 label{
  position: absolute;
  font-size: 14px;
  width: 32px;
  height: 16px;
  top: 185px;
  left: -3px;
}
.form-group2 select {
  position: absolute;
  width: 420px;
  height: 51px;
  top: 300px;
  left: -3px;
  background: #ffffff;
  box-shadow: 0px 4px 14px 0px #00000017;
}
.form-group2 label{
  position: absolute;
  font-size: 14px;
  width: 65px;
  height: 16px;
  top: 275px;
  left: -3px;
}
/* .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
} */

 .form-group input,
.form-group select
{
  display: none;
  position: absolute;
  width: 173px;
  height: 36px;
  top: 80px;
  left: 124px;
  font-family: Syne;
  font-weight: 700;
  line-height: 19.2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: #cbd6dc;
  color: #306685;
  padding: 7px 15px;
  border: 1px solid #cbd6dc;
  cursor: pointer;
  font-size: 16px;
  border-radius: 60px;
  margin-right: 10px;
} 
.form-group1 label,
.form-group1 input,
.form-group2 select,
.form-group2 option {
  border: none;
}
/* .form-group1 input{
  position: absolute;
  width: 420px;
  height: 51px;
  top: 210px;
  left: -3px;
  background: #ffffff;
  box-shadow: 0px 4px 14px 0px #00000017; 
} */


/* /* #submit-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer; 
  } */

#submit-btn:hover {
  background-color: #1d6154;
}

.line {
  position: absolute;
  width: 420px;
  height: 0px;
  top: 400px;

  border: 1px solid #b3b3b3;
}

#submit-btn {
  position: absolute;
  width: 237px;
  height: 36px;
  top: 450px;
  left: 100px;
  font-family: Syne;
  font-weight: 700;
  line-height: 19.2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: #a7a7a7;
  color: #fffef8;
  padding: 7px 15px;
  border: 1px solid #a7a7a7;
  cursor: pointer;
  font-size: 16px;
  border-radius: 60px;
  margin-right: 10px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 a {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
  color: #b1663c;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}
a {
  text-decoration: none;
  color: #1d6154;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
#filter-container {
  display: none;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-btn {
  display: none;
  font-family: Syne;
  font-weight: 700;
  line-height: 19.2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: #1d6154;
  color: #fffef8;
  padding: 10px 15px;
  border: 1px solid #1d6154;
  /* background: #fffef8; */
  cursor: pointer;
  font-size: 16px;
  border-radius: 60px;
  margin-right: 10px;
}

.filter-btn:hover {
  background-color: #1d6154;
  color: #ffffff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
